.bg-dark-blue {
  background-color: #050a30 !important;
}
.dark-blue {
  color: #050a30 !important;
}

.navy {
  color: navy !important;
}

.bg-navy {
  background-color: navy !important;
}

.bg-input {
  background-color: #fafafa !important;
}

.border-dark-blue {
  border-color:navy !important;
}


