.bg-dark-blue {
  background-color: #050a30 !important;
}
.dark-blue {
  color: #050a30;
}

.navy {
  color: navy;
}

.bg-navy {
  background-color: navy;
}

.bg-input {
  background-color: rgb(241, 241, 241) !important;
}

