.fs-7 {
  font-size: 1.1rem;
}

.nav-btn {
  background-color: #050a30 !important;
}

footer {
  margin-top: 20rem;
}



footer .row .col p + p {
  margin-bottom: 12px !important;
}

body {
  margin: 0;
  padding: 0;
}